
body{
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}


#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(112, 112, 112);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(244, 237, 237);
}


#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button{
  width: 100px;
  height: 100px;
  border: none;
  background-color: rgb(50, 50, 50);
  border-radius: 50px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: rgb(91, 91, 91);
}

button:active{
  background-color: rgb(140, 139, 139);
}

.operator-btn{
  background-color: rgb(255, 136, 0);
}

.operator-btn:hover{
  background-color: rgb(255, 180, 94);
}

.operator-btn:active{
  background-color: rgb(250, 195, 133);

}


